th {
background-color:transparent;
border-bottom:1px solid #dfdfdf;
}

.item-list ul li {
padding:15px 0;
}

.breadcrumb {
padding:14px 20px;
}

.block-superfish ul.sf-menu>li>ul {
top:100%;
}

.carousel ol.carousel-indicators li {
background-color:#d1d1d1;
}

.carousel .carousel-caption {
background-color:#000000;
opacity:0.65;
filter:alpha(opacity=65);
}

.carousel-control .icon-prev,.carousel-control .icon-next {
font-size:50px;
width:100%;
height:100%;
top:-5px;
left:0;
margin:0;
line-height:100%;
}