/* override file style, custom code here */
.navbar.container,.navbar.container-fluid{margin-top: 0;z-index: 100;}
.navbar{background-color:#222;color: #f8f8f8;border-color:transparent}
.navbar .navbar-brand{color:#4ca6ff;font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive}
.navbar .navbar-brand:hover,.navbar .navbar-brand:focus,.navbar .navbar-brand:active,.navbar .navbar-brand.active{color:#4c79ff}
.navbar .navbar-collapse{border-color:rgba(255,255,255,0.02)}
.navbar .navbar-toggle{background-color:#4ca6ff;border-color:#4ca6ff;font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;color:#fff;font-size:12px}
.navbar .navbar-toggle:hover,.navbar .navbar-toggle:focus{background-color:#4ca6ff}
.navbar {margin-bottom:0 !important;}
.navbar .nav{float:right}
.navbar .nav li a{font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:400;letter-spacing:1px;color:#fff}
.navbar .nav li a:hover,.navbar .nav li a:focus{color:#4ca6ff;outline:none}
.navbar .navbar-nav > .active > a{border-radius:0;color:#fff;background-color:#4ca6ff}
.navbar .navbar-nav > .active > a:hover,.navbar .navbar-nav > .active > a:focus{color:#fff;background-color:#4c79ff}
@media (min-width: 992px) {
  #navbar{padding-top:1.5rem;padding-bottom:1.5rem;border:none;background-color:transparent;transition:padding-top .3s ease-in-out,padding-bottom .3s ease-in-out}
  #navbar .navbar-brand{font-size:1.5em;transition:font-size .3s ease-in-out}
  #navbar .navbar-brand img{height:2rem;transition:height .3s ease-in-out}
  #navbar.navbar-shrink{padding-top:1rem;padding-bottom:1rem;background-color:#212529}
  #navbar.navbar-shrink .navbar-brand{font-size:1.25em}
  #navbar.navbar-shrink .navbar-brand svg,#mainNav.navbar-shrink .navbar-brand img{height:1.5rem}
  #navbar .navbar-nav .nav-item{margin-right:1rem}
  #navbar .navbar-nav .nav-item:last-child{margin-right:0}
}
@media (min-width: 768px) {
	header .region,header .intro-text{padding-top:200px;padding-bottom:200px;}
	header .region .block-title,header .intro-text .block-title,header .region .intro-lead-in,header .intro-text .intro-lead-in{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:40px;line-height:40px;margin-bottom:25px}
	header .region .content,header .intro-text .content,header .region .intro-heading,header .intro-text .intro-heading{font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;font-size:75px;line-height:75px;margin-bottom:50px}
	.navbar{background-color:transparent;-webkit-transition:padding .3s;-moz-transition:padding .3s;transition:padding .3s;border:none}
	.navbar .navbar-brand{font-size:2em;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
	.navbar .navbar-nav > .active > a{border-radius:3px}
	.navbar.navbar-shrink,.navbar.affix{background-color:#222;padding:10px 0}
	.navbar.navbar-shrink .navbar-brand,.navbar.affix .navbar-brand{font-size:1.5em}
}