<div id="preview">
  <div id = "preview-nav">
    <div class="container content-box">
    <div id = "preview-logos"><a href = ""></a></div>
    <div id = "preview-mainmenu">
    <ul>
        <li><a href = "#">About us</a></li>
        <li><a href = "#">Contact us</a></li>
        <li><a href = "#">About us</a></li>
      </ul>  
    </div>
    </div>
  </div>
  
  <div id = "preview-components" class = "preview-content">
  <div class = "container">
    <div class = "col-xs-3">
      <h2 class = "clr-base">headings </h2>
      <h1 class = "clr-base">Heading 1</h1>
      <h2 class = "clr-base">Heading 2</h2>
      <h3 class = "clr-base">Heading 3</h3>
      <h4 class = "clr-base">Heading 4</h4>
      <h5 class = "clr-base">Heading 5</h5>
      <h6 class = "clr-base">Heading 6</h6>
    </div>
    <div class = "col-xs-3 clr-content">
      <h2 class = "clr-base">Basic Components</h2>
      <blockquote>This is a small blockquote</blockquote>
      <p>This is small paragraph for demo, here we have <a class = "clr-base" href = "#">link</a> and </p>
      <div class = "preview-border">a box with border</div>
    </div>
    <div class = "col-xs-6">
      <h2 class = "clr-base">Form Components</h2>
      <fieldset class = "bdr-clr-secondary">
      <legend>This is title</legend>
      <label>This is lable</label>
      <input type = "text" class = "bdr-clr-secondary">
      <button class = "bg-color-base">Button</button>
      </fieldset>
    </div>

  </div>    
  </div>    
      
  <div id = "preview-footercopyright">
  <div class = "container text-center">
    Copyright
  </div>
  </div>        
</div>
